{% extends 'base/base_auth.html' %}

{% load static %}

{% block content %}

<div class="login-content-wrapper">
  <div class="login-form-container">
    <form method="POST">
      {% csrf_token %}
      <div class="login-form-wrapper">
        <div class="title" id="title">
          <h1>Sign In</h1>
          <p>Please enter your details to sign in</p>
        </div>
        <div class="login-input-wrapper">
          <input
            type="text"
            id="login-identifier"
            name="login-identifier"
            placeholder="Username or Email"
            required
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
            required
          />
        </div>
        <div class="remember-forgot-password-container">
          <div class="remember-me">
            <div class="checkbox-wrapper">
              <input id="checkbox-filled-1" class="checkbox" type="checkbox">
              <label for="checkbox-filled-1">Remember me</label>
            </div>
          </div>
          <div class="forgot-password">
            <a href="#">Forgot Password&#63;</a>
          </div>
        </div>
        <div class="btn-wrapper">
          <button type="submit">Sign in</button>
        </div>
        <div class="no-account">
          <p>Don't have an account?
            <a href="{% url 'sign_up' %}"> Sign up </a>here.
          </p>
        </div>
      </div>
    </form>
  </div>
  <div class="welcome-wrapper">
    <div class="welcome-title" id="login-welcome-title">
      <h3>
        <span class="welcome-span">Hello&#44; Dear Friend<br>
          <h6>Welcome back to</h6>
          <span class="logo">OliveGarden</span>
        </span>
      </h3>
    </div>
  </div>
</div>

{% endblock %}
