{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>OliveGarden</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/general.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/header.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/hero.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/products.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/cart_detail.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/product_details.css' %}" />
  </head>
  <body>
    <div class="container">
      {% if messages %}
      <div class="toast-stack">
        {% for message in messages %}
        <div class="toast toast-{{ message.tags }}">
          <input
            type="checkbox"
            id="toast-{{ forloop.counter }}"
            class="toast__toggle"
          />
          <div class="toast__body">
            <div class="toast__content">{{ message }}</div>
            <div class="toast__timer"></div>
          </div>
          <label class="toast__close" for="toast-{{ forloop.counter }}">×</label>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <header>
        {% include 'components/header.html' %}
      </header>
      <main>
        {% block content %}
        {% include 'components/hero.html' %}
        {% endblock %}
      </main>
      <footer>
        {% include 'components/footer.html' %}
      </footer>
    </div>
  </body>
</html>
